body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px auto 40px auto;
    gap: 20px;
    height: calc(100vh - 40px);
    width: calc(100vw - 40px);
}

.search-container {
    grid-column: 2;
    grid-row: 1;
    margin: 0 auto;
    position: relative;
    display: inline-block;
}

#searchInput {
    grid-column: 2;
    grid-row: 1;
    background-color: #2a2a2a;
    color: #ffffff;
    border: 1px solid #444;
    border-radius: 25px;
    width: 320px;
    height: 30px;
    display: block;
    text-align: center;
}

#searchInput:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
    transition: box-shadow 0.3s ease, filter 0.3s ease;
}

#searchInput:focus::placeholder {
    color: transparent;
}

#clearButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    font-size: 14px; /* Tamaño más pequeño */
    color: #e0e0e0; /* Color del texto similar al resto de la página */
}

.switch-container {
    display: flex;
    justify-content: flex-end; /* Alinear a la derecha */
    align-items: center;
    grid-column: 3;
    grid-row: 1;
    gap: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px; /* Ancho reducido */
    height: 16px; /* Alto reducido */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    transition: 0.4s;
    border-radius: 16px; /* Ajustado para el nuevo tamaño */
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px; /* Tamaño de la palanca reducido */
    width: 12px; /* Tamaño de la palanca reducido */
    border-radius: 50%;
    left: 2px; /* Ajustado */
    bottom: 2px; /* Ajustado */
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(14px); /* Ajustado para el nuevo tamaño */
}

.slider .label-es, .slider .label-mx {
    position: absolute;
    top: 44%;
    transform: translateY(-50%);
    font-size: 9px; /* Fuente reducida */
    font-weight: bold;
    color: white;
}

.label-es {
    left: 4px; /* Ajustado */
}

.label-mx {
    right: 4px; /* Ajustado */
}

.content {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    justify-items: center;
}

.card {
    max-width: 256px;
    max-height: 400px;
    background-color: #2a2a2a;
    border: 1px solid #444;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
}

.card img {
    max-width: 256px; 
    height: auto; 
    object-fit: cover; 
    border-radius: 5px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(50, 50, 50, 0.7);
    filter: brightness(1.3);
    cursor: pointer;
}

.card-content h2 {
    margin: 10px;
    text-align: center;
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
    overflow: hidden; /* Oculta el desbordamiento */
    text-overflow: ellipsis; /* Añade "..." al final si el texto es demasiado largo */
}

.tooltip {
    position: relative;
}
  
.tooltip .tooltip-text {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -40px;
}
  
.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
  
.tooltip:hover .tooltip-text {
    visibility: visible;
}

.buttons {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    gap: 20px;
    justify-content: center;
    height: 40px;
}

button {
    cursor: pointer;
}

button:disabled {
    background-color: #555;
    cursor: not-allowed;
    opacity: 0.6;
}

#prevButton, #nextButton {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    height: 40px;
    width: 120px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#prevButton:hover, #nextButton:hover {
    background-color: #0056b3;
}

.modal {
    display: flex;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal.show {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    background-color: #222;
    border: 1px solid #444;
    border-radius: 8px;
    color: #e0e0e0;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    gap: 10px;
    max-height: 80vh;
    max-width: 450px; 
    margin: 0 20px;
    overflow-y: auto;
    position: relative;
    text-align: center;
    transform: scale(0.8);
    transition: transform 0.3s ease;
    width: 90vw;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
}

.modal-header > span {
    font-size: 24px;
}

.close-button:hover {
    color: #ff4444;
    cursor: pointer;
}

.modal-body {
    overflow-y: auto;
    width: 100%;
}

.modal-body > p {
    margin: 0 10%;
}

.modal.show .modal-content {
    transform: scale(1);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #333;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}

.slide-in {
    animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
}



@media (max-width: 1080px) {
    body {
        font-size: 3vw;
    }
    button {
        font-size: 3vw;
    }
    .card-content h2 {
        font-size: 3vw;
    }
    .close-button {
        font-size: 4vw;
    }
    #content {
        grid-template-columns: repeat(2, auto);
    }
    h2 {
        font-size: 4vw;
    }
    #languageButton {
        font-size: 3vw;
    }
    p {
        font-size: 3vw;
    }
}

@media (max-width: 950px) {
    body {
        font-size: 2vw;
    }
    button {
        font-size: 2vw;
    }
    .card-content h2 {
        font-size: 2vw;
    }
    .close-button {
        font-size: 2vw;
    }
    h2 {
        font-size: 2.5vw;
    }
    p {
        font-size: 2vw;
    }
    #languageButton {
        font-size: 1.5vw;
    }
}

@media (max-width: 768px) {
    .card {
        flex: 0 0 calc(50% - 2vw); /* 2 tarjetas por fila */
    }
    .content {
        grid-template-columns: repeat(1, 1fr);
    }
    #content {
        grid-template-columns: 1fr; /* 1 columna para pantallas aún más pequeñas */
    }
    h2 {
        font-size: 1.25rem; /* Tamaño más pequeño para pantallas medianas */
    }
    .modal-content {
        max-width: 90%; /* Establece un ancho máximo del 90% en pantallas pequeñas */
        margin: 0 5%; /* Márgenes reducidos en pantallas pequeñas */
    }
    p {
        font-size: 0.9rem; /* Ajustar texto en párrafos */
    }
}

@media (max-width: 450px) {
    body {
        font-size: 3vw;
    }
    .main {
        grid-template-columns: auto;
        grid-template-rows: auto auto 2fr;
    }
    .search-container {
        grid-column: 1;
        grid-row: 1;
    }
    .content {
        grid-template-columns: 1fr;
        grid-column: 1;
        grid-row: 2;
    }
    .buttons {
        grid-column: 1;
        grid-row: 3;
    }
    button {
        font-size: 4vw;
    }
    .switch-container {
        display: none;
    }
    .card {
        flex: 0 0 100%; /* 1 tarjeta por fila */
    }
    .card-content h2 {
        font-size: 5vw;
    }
    .close-button {
        font-size: 4vw;
    }
    h2 {
        font-size: 5vw; /* Ajustar aún más para pantallas muy pequeñas */
    }
    #languageButton {
        font-size: 3vw;
    }
    p {
        font-size: 4vw /* Ajustar texto en párrafos */
    }
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}